<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.android.youtube" platformBuildVersionCode="24" platformBuildVersionName="N">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID_NOTIFICATION"/>
    <uses-permission android:name="com.google.android.youtube.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission-sdk-23 android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_CONTACTS"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false"/>
    <permission android:name="com.google.android.youtube.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <application android:backupAgent="com.google.android.apps.youtube.app.backup.AutoBackupAgent" android:fullBackupContent="@xml/backup_scheme" android:fullBackupOnly="true" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/application_name" android:largeHeap="true" android:logo="@drawable/action_bar_logo_release" android:name="com.google.android.apps.youtube.app.YouTubeApplication" android:supportsRtl="@bool/supports_rtl" android:theme="@style/Theme.YouTube.Light">
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIXi58ScnYbhPAPl8s4DjDkSik7XGKNcn8YqfZFg"/>
        <meta-data android:name="to.dualscreen" android:value="true"/>
        <meta-data android:name="com.google.android.apps.youtube.config.BuildType" android:value="RELEASE"/>
        <activity android:configChanges="keyboardHidden|screenSize" android:launchMode="singleTask" android:name="com.google.android.apps.youtube.app.honeycomb.phone.NewVersionAvailableActivity"/>
        <activity android:exported="true" android:name="com.google.android.apps.youtube.app.honeycomb.Shell$HomeActivity" android:theme="@style/Theme.YouTube.Launcher"/>
        <activity android:name="com.google.android.libraries.youtube.player.features.gl.vr.VrWelcomeActivity" android:theme="@style/Theme.YouTube.Promo"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" android:launchMode="singleTask" android:name="com.google.android.apps.youtube.app.WatchWhileActivity" android:theme="@style/Theme.YouTube.Home" android:windowSoftInputMode="adjustResize">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.voice.CLOSE_PLAYER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.voice.FULL_SCREEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.voice.MINI_SCREEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.voice.NORMAL_SCREEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.voice.PAUSE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.voice.PLAY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.voice.STOP"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.voice.NEXT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.voice.PREVIOUS"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.voice.SKIP_ADS"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.mdx.voice.CONNECT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.mdx.voice.DISCONNECT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.voice.PLAY_NTH_VIDEO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.apps.youtube.app.honeycomb.Shell$ResultsActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.MEDIA_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:name="com.google.android.apps.youtube.app.honeycomb.Shell$UploadActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="com.google.android.youtube.intent.action.UPLOAD"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/upload_edit_video_title" android:name="com.google.android.apps.youtube.app.honeycomb.phone.UploadActivity" android:theme="@style/Theme.YouTube.UploadActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/edit_video_form_title" android:name="com.google.android.apps.youtube.app.honeycomb.phone.EditVideoActivity" android:theme="@style/Theme.YouTube.EditVideoActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden" android:name="com.google.android.apps.youtube.app.honeycomb.phone.ScreenPairingActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="remote"/>
                <data android:host="youtube.com"/>
                <data android:host="www.youtube.com"/>
                <data android:host="m.youtube.com"/>
                <data android:pathPrefix="/remote"/>
                <data android:pathPrefix="/ytremote"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden" android:name="com.google.android.apps.youtube.app.honeycomb.phone.ScreenManagementActivity" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:exported="true" android:name="com.google.android.apps.youtube.app.honeycomb.Shell$UrlActivity" android:theme="@style/Theme.YouTube.Launcher"/>
        <activity android:name="com.google.android.apps.youtube.app.honeycomb.Shell$MediaSearchActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden" android:label="@string/settings" android:name="com.google.android.apps.youtube.app.settings.SettingsActivity" android:theme="@style/Theme.YouTube.Settings"/>
        <activity android:name="com.google.android.apps.youtube.app.honeycomb.Shell$SettingsActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES"/>
            </intent-filter>
        </activity>
        <meta-data android:name="android.app.default_searchable" android:value="com.google.android.apps.youtube.app.honeycomb.Shell$ResultsActivity"/>
        <service android:name="com.google.android.apps.youtube.app.upload.MainAppUploadService"/>
        <receiver android:name="com.google.android.libraries.youtube.upload.service.UploadService$BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.google.android.youtube.SuggestionProvider" android:exported="false" android:name="com.google.android.apps.youtube.app.suggest.YouTubeSuggestionProvider"/>
        <service android:exported="true" android:name="com.google.android.libraries.youtube.common.gcore.gcoreclient.gcm.impl.GcmTaskServiceDelegator" android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <meta-data android:name="gcoreclient.gcm.GcoreGcmTaskService" android:value="com.google.android.libraries.youtube.net.gcm.service.YouTubeGcmTaskService"/>
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:name="com.google.android.libraries.youtube.offline.transfer.service.OfflineTransferService"/>
        <receiver android:enabled="false" android:name="com.google.android.libraries.youtube.offline.transfer.service.OfflineTransferService$DeviceStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.apps.youtube.app.system.LocaleUpdatedService"/>
        <receiver android:name="com.google.android.apps.youtube.app.system.LocaleUpdatedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.libraries.youtube.player.background.service.BackgroundPlayerService"/>
        <service android:exported="false" android:name="com.google.android.libraries.youtube.mdx.mediaroute.RemotePlaybackControlsService"/>
        <receiver android:exported="true" android:name="com.google.android.libraries.youtube.player.PlayerUiModule$LegacyMediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.google.android.apps.youtube.app.honeycomb.LogCollectorActivity">
            <intent-filter>
                <action android:name="com.google.android.youtube.action.bugreport"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.libraries.youtube.edit.camera.CameraActivity" android:screenOrientation="portrait" android:theme="@style/Theme.YouTube.CameraActivity"/>
        <activity android:label="@string/gallery_activity_title" android:name="com.google.android.libraries.youtube.edit.gallery.GalleryActivity" android:theme="@style/Theme.YouTube.GalleryActivity"/>
        <activity android:name="com.google.android.libraries.youtube.account.photo.CropActivity" android:theme="@style/Theme.YouTube.CropActivity"/>
        <activity android:label="@string/upload_edit_audio_swap_audio_selection_title" android:name="com.google.android.libraries.youtube.edit.audioswap.ui.AudioSelectionActivity" android:theme="@style/Theme.YouTube.AudioSelection"/>
        <activity android:name="com.google.android.libraries.youtube.comment.image.ImageGalleryActivity" android:theme="@style/Theme.YouTube.GalleryActivity"/>
        <receiver android:exported="true" android:name="com.google.android.apps.youtube.app.notification.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.google.android.youtube"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.google.android.youtube.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.google.android.apps.youtube.app.common.util.FileProviderCompat">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_exported_paths"/>
        </provider>
        <service android:name="com.google.android.apps.youtube.app.ads.AdIdListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.ads.identifier.BIND_LISTENER"/>
            </intent-filter>
        </service>
        <receiver android:name="com.google.android.apps.youtube.app.PackageReplacedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:label="@string/api_standalone_player_activity_name" android:name="com.google.android.youtube.api.StandalonePlayerActivity" android:permission="android.permission.INTERNET" android:process="com.google.android.youtube.player" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.google.android.youtube.api.StandalonePlayerActivity.START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:exported="true" android:label="@string/api_service_name" android:name="com.google.android.youtube.api.service.YouTubeService" android:permission="android.permission.INTERNET" android:process="com.google.android.youtube.player">
            <intent-filter>
                <action android:name="com.google.android.youtube.api.service.START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.google.android.libraries.youtube.account.AccountsChangedReceiver">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.libraries.youtube.account.AccountsChangedService"/>
        <service android:name="com.google.android.libraries.youtube.notification.NotificationProcessingService"/>
        <service android:name="com.google.android.libraries.youtube.notification.NotificationService"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:name="com.google.android.moxie.common.MoxieActivity" android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="com.google.android.spotlightstories.PLAY_STORY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:configChanges="orientation" android:exported="false" android:name="com.google.android.moxie.common.MoxieService">
            <intent-filter>
                <action android:name="com.google.android.spotlightstories.CONNECT_PLAYER"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.google.android.apps.youtube.app.image.GlideLoaderModule" android:value="GlideModule"/>
        <service android:enabled="false" android:exported="false" android:name="com.google.android.libraries.social.licenses.MetadataHolder">
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.GL" android:value="7:30135"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Xorg" android:value="30151:47018"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.binaural" android:value="77182:1481"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.curl" android:value="78672:1044"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.DynamicAnnotations" android:value="79739:1484"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Eigen 3" android:value="81235:85392"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.giflib" android:value="166638:1088"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.googleurl" android:value="167740:4959"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.ICU4C" android:value="172709:11769"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Android Annotations Support Library" android:value="184518:10695"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Android Custom Tabs Support Library" android:value="195253:10695"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Android Design Support Library" android:value="205983:10695"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Android Multidex Support Library" android:value="216715:10695"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Android Compatibility Library v4" android:value="227447:10695"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Android Compatibility Library v7" android:value="238179:10695"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Android Support Tools" android:value="248900:10220"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Android SDK" android:value="259136:16013"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.android_transcoder" android:value="275172:11357"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.aosp_httpclient_mods" android:value="286554:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Cronet" android:value="297923:27647"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.customtabsclient" android:value="325591:10141"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.ExoPlayer" android:value="335746:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Glide" android:value="347114:4771"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Guava JDK5" android:value="351900:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.LeakCanary" android:value="363273:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.mp4parser" android:value="374645:12834"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Protobuf Nano" android:value="387497:1732"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.AOSP rastermill" android:value="389249:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.RxAndroid" android:value="400621:11344"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.swipedismiss" android:value="411982:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.AOSP Volley" android:value="423356:11362"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Apache HttpClient" android:value="434740:10173"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Apache HttpCore" android:value="444933:10173"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Google Auto" android:value="455122:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Checker Framework" android:value="466502:22655"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Dagger" android:value="489168:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Error Prone" android:value="500542:11357"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.J2ObjC" android:value="511910:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Apache Commons Codec" android:value="523293:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Apache Commons Logging" android:value="534678:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.JSR 250" android:value="546048:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.JSR 305" android:value="557418:1602"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.JSR 330" android:value="559032:11365"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.jtransforms" android:value="570413:25754"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.RxJava" android:value="596178:11344"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.LeakCanary No-op" android:value="607543:11357"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Mobile Filter Framework" android:value="618928:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.jquery2" android:value="630298:1606"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.jquery_ui" android:value="631918:1107"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.tracing_framework" android:value="633047:1475"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.libogg" android:value="634533:1466"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.XCB library" android:value="636015:1337"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.libyuv" android:value="637363:1506"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.libzip" android:value="638880:1452"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.lodepng" android:value="640344:890"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.luajit" android:value="641245:2932"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.lz4" android:value="644185:1310"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.minizip" android:value="645507:1996"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.mongoose" android:value="647516:1062"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.gtm_session_fetcher" android:value="648602:11358"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.openctm" android:value="659972:881"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.BoringSSL" android:value="660867:9287"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.PCRE" android:value="670163:3182"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.pffft" android:value="673355:1919"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.Protocol Buffers" android:value="675295:1732"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.RE2" android:value="677035:1558"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.speex" android:value="678603:1449"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.stblib" android:value="680063:201"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.STL" android:value="680272:680"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.tinyxml2" android:value="680965:808"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.tinyxml" android:value="681785:925"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.tremor" android:value="682721:1465"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.tz database" android:value="684202:252"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.UTF" android:value="684462:731"/>
            <meta-data android:name="com.google.android.libraries.social.licenses.LICENSE.zlib" android:value="685202:2500"/>
        </service>
        <activity android:exported="true" android:label="@string/preferences_license_title" android:name="com.google.android.libraries.social.licenses.LicenseMenuActivity" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:exported="false" android:label="@string/preferences_license_title" android:name="com.google.android.libraries.social.licenses.LicenseActivity" android:theme="@style/Theme.AppCompat.Light"/>
        <service android:exported="false" android:name="com.google.android.libraries.social.silentfeedback.nobinder.SilentFeedbackService" android:process=":crash_report"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.google.android.libraries.youtube.livecreation.ui.LiveCreationActivity" android:theme="@style/LcAppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboardHidden" android:exported="false" android:name="com.google.android.libraries.youtube.mdx.smartpairing.PairWithTvActivity" android:theme="@style/Mdx.Theme.Settings"/>
        <activity android:excludeFromRecents="true" android:name="com.google.android.libraries.youtube.player.features.pauseandbuffer.PauseAndBufferNotificationIntentBroadcastingActivity" android:taskAffinity=""/>
        <service android:exported="false" android:name="com.google.android.libraries.youtube.player.features.pauseandbuffer.PauseAndBufferTaskService"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" android:theme="@style/Theme.IAPTheme"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity-alias android:name="com.google.android.youtube.app.honeycomb.Shell$HomeActivity" android:targetActivity="com.google.android.apps.youtube.app.honeycomb.Shell$HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.action.open.search"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.action.open.trending"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.action.open.subscriptions"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:exported="true" android:name="com.google.android.youtube.HomeActivity" android:targetActivity="com.google.android.apps.youtube.app.honeycomb.Shell$HomeActivity"/>
        <activity-alias android:name="com.google.android.youtube.UploadIntentHandlingActivity" android:targetActivity="com.google.android.apps.youtube.app.honeycomb.Shell$UploadActivity">
            <intent-filter android:label="@string/application_name">
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.ALTERNATIVE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.google.android.youtube.UrlActivity" android:targetActivity="com.google.android.apps.youtube.app.honeycomb.Shell$UrlActivity" android:theme="@style/Theme.YouTube.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="youtube.com"/>
                <data android:host="www.youtube.com"/>
                <data android:host="m.youtube.com"/>
                <data android:host="youtu.be"/>
                <data android:pathPattern=".*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="vnd.youtube"/>
                <data android:scheme="vnd.youtube.launch"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:label="@string/settings" android:name="com.google.android.youtube.ManageNetworkUsageActivity" android:targetActivity="com.google.android.apps.youtube.app.honeycomb.Shell$SettingsActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
    </application>
    <compatible-screens>
        <screen android:screenDensity="xxhdpi" android:screenSize="small"/>
        <screen android:screenDensity="xxhdpi" android:screenSize="normal"/>
        <screen android:screenDensity="xxhdpi" android:screenSize="large"/>
        <screen android:screenDensity="xxhdpi" android:screenSize="xlarge"/>
    </compatible-screens>
</manifest>
